<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <listener>
        <listener-class>pl.stolarczykt.DefaultServletListener</listener-class>
    </listener>

    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/static/not_found.html</location>
    </error-page>
</web-app>